@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=IBM+Plex+Mono&display=swap');





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 59%;
  }
}

@media screen and (max-width: 768px) {
  html                                     /* Medium */ {
    font-size: 55%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 48%;
  }
  
}



/* background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png"); */
