.AboutPageContainer
{
    min-height:95vh;
   
    overflow:hidden;
    
}
.iDoContainer
{
    min-height:100vh;
}
.shapeBox1
{
    min-height:40rem;
    background-color:#072b62;
    border-radius:0% 0% 100% 0%;
    text-align: center;
    
}
.schoolIcon
{
    margin-top:12rem;
    font-size:8rem !important;
    color:#d9d9d9;
}
.shapeBox1 h2{
    font-size:3.8rem;
    font-weight:500;
    color:#299df2;
    font-family: 'Cookie', cursive;
    
}
.shapeBox1 p{
    font-size:2.8rem;
    color:#d9d9d9;
    font-family: 'Cookie', cursive;
    
}
.aboutLeftContainer
{
    min-height:95vh;
    
}
.aboutRightContainer
{
    min-height:60vh;
    background-image: url("../../../public//images/edu.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position:center;
   
}
.eduCards
{
    width: 40rem;
    
    background: linear-gradient(deg, rgba(24, 222, 199, 0), rgba(4, 242, 214, 0));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 15px 0 rgba(4, 242, 213, 0.37);
    margin-top: 2rem;
}
.eduCards h3
{
    text-transform: uppercase;
    text-align: left;
    color:#072b62;
    font-size: 1.5rem;
    margin: 0.1rem;
    font-weight:800;
    font-family: 'IBM Plex Mono', monospace;
}

.cardIcon1
{
    color:#ff4d6b;
    font-size: 1.8rem !important;
    position: relative;
    top:0.5rem;
    margin-right: 0.5rem;
}
.eduCards img{
    float: right;
    width:4.5rem;
    position: relative;
    bottom:2.6rem;
    margin-right:0.5rem;
}
.eduCards h4{
    font-size:1.3rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 2.4rem;
    color:#072b62;

}
.eduCards p{
    font-size:1rem;
    font-family: 'IBM Plex Mono', monospace;
    
    margin-left: 2.4rem;
    font-weight: 600;
    color:#072b62; 
}
.webIcon{
    color:#ff4d6b;
    
    margin-top:0.2rem;
    font-size: 1.8rem !important;
    
    
}
.iDoLeftContainer
{
    
    min-height:40rem;
    background-color:#072b62;
    border-radius:0% 0% 100% 0%;
    text-align: center;
}
.iDoLeftContainer .eduContainer

{
   margin-top:15rem;
}
.eduContainer h2{
    font-size:3.8rem;
    font-weight:500;
    color:#299df2;
    font-family: 'Cookie', cursive;
    letter-spacing:0.2rem;
}
.iDoRightContainer
{
    min-height:65vh;
    background-image: url("../../../public//images/doImage.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position:center;
    margin-top:12rem;
}
.doCards
{
    width: 40rem;
    background: linear-gradient(deg, rgba(24, 222, 199, 0), rgba(4, 242, 214, 0));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 15px 0 rgba(4, 242, 213, 0.37);
    margin-top: 2rem;
}
.doCards img{
    float: right;
  
    position: relative;
   
    margin-right:0.5rem;
}
.doCards h3{
    font-size:1.5rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 2.4rem;
    color:#072b62; 
} 
.doCards h4{
    font-size:1.3rem;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 2.4rem;
    color:#072b62;
    
}
.doCards ul li
{
    list-style-type:none;
    display:inline-flex;
    cursor:pointer;
    margin:0.4rem;
    

   
}
.doCards ul img{
    width:4rem;
}


@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {

.shapeBox1
{
    border-radius:0% 0% 20% 0%;
}
.aboutLeftContainer
{
    min-height:40vh;
    

}
.iDoLeftContainer{
    min-height:40vh;
    background-size: 60%;
    border-radius:0% 0% 20% 0%;

}
.iDoRightContainer{
    margin-top:2rem;
    min-height:50vh
}


}